* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: #8dc63f;

}

.header {
    padding: 15px 0;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.bg-white {
    background-color: #fff;

}

.footer {
    background-color: #39930d;
    font-size: 14px;
    color: #ffffff;
    font-family: "Arial";
    padding: 14px 15px;

}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.number {
    text-decoration: none;
    display: flex;
    align-items: center;
}
.new {
    background-color: #f3f3f3;
}

.top1 p {
    font-size: 14px;
    color: #5a5a5a;
}

.top1 b {
    font-size: 24px;
    text-transform: uppercase;
    color: #39930d;
    font-weight: bold;
}

.topmenu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px   ;
}
.grafic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.grafic {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imgfull {
    max-width: 100%;
    display: flex;
    Align-items: center;
    justify-content: space-between;
}

.gate {
    max-width: 100%;
    margin-bottom: 10px;
}

.work {
    font-size: 14px;
    color: #5a5a5a;
    font-style: italic;
    display: flex;
    justify-content: space-between;
}

.number {
    font-size: 14px;
    color: #5a5a5a;
    font-style: italic;
    text-align: right;
}

.main_text {
    font-size: 14px;
    line-height: 1.5em;
    color: #343434;
    max-width: 611px;
    
}

h1 {
    font-size: 24px;
    color: #39930d;
    font-weight: bold;
}

.menu {
    font-size: 14px;
    line-height: 2.1em;
    text-transform: uppercase;
    color: #39930d;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
}

.partners {
    background-color: #39930d;
    font-size: 18px;
    color: #fff;
    padding: 5px 19px;
    max-width: 300px;
}

.menu a {
    font-size: 14px;
    line-height: 2.1em;
    text-decoration: underline;
    text-transform: uppercase;
    color: #343434;
}

.menu ul {
    list-style: none;
    padding: 31px 19px;
}

.text {
    padding: 31px 0px 30px;
    display: flex;
    justify-content: space-between;
}

.main_text p,
h1 {
    margin-bottom: 18px;
}

.main_container img {
    background-attachment: fixed;
    background-image: url(../img/picture.png);
    max-width: 100%;
    margin: 0 auto;
}

.contacts {
    font-size: 44px;
}