* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1px;
}

body {
    font-family: Arial;
    background-color: #8dc63f;
    cursor: url("../img/cursor.cur"), default;

}

a {
    cursor: url(../img/cursor2.cur), default;
    transition: all .9s ease;
}

.header {
    padding: 15rem 0;
    flex-wrap: wrap;
    gap: 30rem;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.align-items {
    display: flex;
    align-items: center;
    gap: 10rem;
}

.wrapper {
    max-width: 960rem;
    margin: 0 auto;
    padding: 0 15rem;
}

.bg-white {
    background-color: #fff;

}

.footer {
    background-color: #39930d;
    font-size: 14rem;
    color: #ffffff;
    font-family: "Arial";
    padding: 14rem 15rem;

}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20rem;
    flex-wrap: wrap;
}

.number {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.new {
    background-color: #f3f3f3;
}

.top1 {
    font-size: 14rem;
    color: #5a5a5a;
}

.top1 b {
    font-size: 24rem;
    text-transform: uppercase;
    color: #39930d;
    font-weight: bold;
}

.topmenu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    flex-wrap: wrap;
}

.grafic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
}

.phone {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
}

.grafic {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imgfull  {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
}

.gate img {
    width: 100%;
    min-height: 200px;
    object-fit: cover;
    object-position: 75%;
    margin-bottom: 10rem;
}

.work {
    font-size: 14rem;
    color: #5a5a5a;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.number {
    font-size: 14rem;
    color: #5a5a5a;
    font-style: italic;
    text-align: right;
}

.main_text {
    font-size: 14rem;
    line-height: 1.5em;
    color: #343434;
    max-width: 611rem;
    flex-wrap: wrap-reverse;
    gap: 10px;
}

h1 {
    font-size: 24rem;
    color: #39930d;
    font-weight: bold;
}

.menu {
    font-size: 14rem;
    line-height: 2.1em;
    text-transform: uppercase;
    color: #39930d;
    width: 100%;
    min-width: 200px;
    gap: 10px;
}

.partners {
    background-color: #39930d;
    font-size: 18rem;
    color: #fff;
    padding: 5rem 19rem;
    max-width: 100%;
}

.menu a {
    font-size: 14rem;
    line-height: 2.1em;
    text-decoration: underline;
    text-transform: uppercase;
    color: #343434;
}

.menu ul {
    list-style: none;
    padding: 20rem;
}

.text {
    padding: 31rem 0rem 30rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.main_text p,
h1 {
    margin-bottom: 18rem;
}

.main_container img {
    width: 100%;
}

.contacts {
    font-size: 44rem;
}

li>a:hover {
    color: red;
}

@media screen and (min-width: 768px) {
    html {
        font-size: .9px;
    }

    .text {
        flex-wrap: nowrap;
    }
    
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 1px;
    }

    .main_text {
        min-width: 599rem;
    }

    .imgfull {
        grid-template-columns: repeat(4, 2fr);
        gap: 10px;
    }
    .main_text {
        flex-wrap: nowrap;
    }

}

@media screen and (min-width: 1440px) {
    html {
        font-size: 1.1px;
    }
    .imgfull {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 1.2px;
    }
}

@media screen and (min-width: 2200px) {
    html {
        font-size: 1.7px;
    }
}