* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial;
    background-color: #8dc63f;
    
}

.wrapper {
    background-color: #fff;

}

.footer {
    background-color: #39930d;
    font-size: 14px;
    line-height: 7px;
    color: #ffffff;
    font-family: "Arial";
    padding: 14px 15px;
    margin: 0 -15px;

}

.new {
    background-color: #f3f3f3;
}

.top1 p {
    font-size: 14px;
    color: #5a5a5a;
}

.top1 b {
    font-size: 24px;
    text-transform: uppercase;
    color: #39930d;
    font-weight: bold;
}

.phone {
    font-size: 22px;
    line-height: 7px;
    color: #39930d;
}

.work {
    font-size: 14px;
    color: #5a5a5a;
    font-style: italic;
}

.work_icon {
}

.number_icon {
}

.number {
    font-size: 14px;
    color: #5a5a5a;
    font-style: italic;
    text-align: right;
}

.main_text {
    font-size: 14px;
    line-height: 21px;
    color: #343434;
}

h1 {
    font-size: 24px;
    line-height: 7px;
    color: #39930d;
    font-weight: bold;
}

.menu {
    font-size: 14px;
    line-height: 30px;
    text-decoration: underline;
    text-transform: uppercase;
    color: #39930d;
}

.partners {
    background-color: #39930d;
    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
}

.menu a {
    font-size: 14px;
    line-height: 2.1em;
    text-decoration: underline;
    text-transform: uppercase;
    color: #39930d;
}

.gate {
    background-attachment: fixed;
    background-image: url(../img/picture.png);
    max-width: 930px;
    margin: 0 auto;
}

.contacts {
    font-size: 44px;
}